@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,500;1,9..40,700&display=swap");

* {
  padding: 0;
  margin: 0;
}
.dropdown {
  position: relative;
}
body {
  background-color: #080710;
  color: white;
  font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.container {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 2rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 150px;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  background-color: #080710a5;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(60px);
}
.dropdown-menu li {
  color: white;
  border-bottom: 1px solid white;
  padding: 1rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.toggler {
  all: unset;
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.25rem;
  background-color: #080710a5;
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu.show {
  display: block;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.13);
  padding: 0 2rem;
  border-radius: 0 0 1rem 1rem;
}
.brand {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 30px;
}
li {
  list-style: none;
}
.card_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  width: 285px;
  border-radius: 0.25rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  height: 200px;
}
.card img {
  overflow: hidden;
}
.dragger {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  z-index: 10000;
  background-color: #00000096;
  border-radius: 50%;
  padding: 0.5rem;
}
.dragger svg {
  height: 100%;
  width: 100%;
}
.auth_link {
  text-decoration: none;
  color: white;
}
.hero {
  margin: 2rem 0;
}
.hero_lead {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  text-align: center;
}
.tags {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
